<div class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="footer-heading mb-4"><a href="#" class="logo">FitShop</a></h2>
                <p class="menu">
                <a href="#">Головна</a>
                <a href="#">Доставка та оплата</a>
                <a href="#">Про нас</a>
                <a href="#">Контакти</a>

                </p>
                <ul class="ftco-footer-social p-0 justify-content-center" style="display: flex;list-style-type: none;" >
                    <li><a class="me-3" href="#" ><img src="/assets/twitter.svg" alt="" width="25px"></a></li>
                    <li><a class="me-3" href="#" > <img src="/assets/facebook.svg" alt="" width="25px"></a></li>
                    <li><a href="#" > <img src="/assets/instagram.svg" alt="" width="25px"></a></li>
                    </ul>
                </div>
        </div>
    </div>
</div>
