.footer{
   
    padding: 20px 0;
    background: #121212;
}
.footer .footer-heading .logo {
    color: #fff;
}

.footer .menu a {
    color: rgba(255, 255, 255, 0.6);
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}