
<section class="py-3 py-md-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <div style="display: flex;align-items: center;
            justify-content: center;">
                <h2 class="title ">Контакти</h2>
            </div>
          <h6 class="display-5" style="text-align: center;">Ми завжди зацікавлені у співпраці з новими клієнтами. Будь ласка, зв'яжіться з нами одним із наступних способів</h6>
        </div>
      </div>
    </div>
  
    <div class="container mt-3">
      <div class="align-items-md-center">
       
        <div >
          <div >
            <div class="content">
              <div class="content_item mb-4 mb-md-5 border p-2 me-3">
                <div class="mb-3">
                 <img src="/assets/position.svg" alt="" height="32px" width="32px">
                </div>
                <div>
                  <h4 class="mb-2">Місце знаходження</h4>
                  <p class="mb-2">Будь ласка, завітайте до нас, щоб подискутувати.</p>
                  <hr class="w-100 mb-3 border-dark-subtle">
                  <p class="m-0 text-secondary">Львів,Шевченка 77</p>
                </div>
              </div>
              <div class="content_item mb-4 mb-md-5 border p-2 me-3">
                <div class="mb-3">
                   <img src="/assets/alarm clock.svg" width="32" height="32" alt="">
                </div>
                <div>
                  <h4 class="mb-2">Графік роботи</h4>
                  <p class="mb-2">Ознайомтеся з нашим графіком роботи.</p>
                  <hr class="w-100 mb-3 border-dark-subtle">
                  <div class="d-flex mb-1">
                    <p class="text-secondary fw-bold mb-0 me-5">Пн - Пт</p>
                    <p class="text-secondary mb-0">8:00 - 19:00</p>
                  </div>
                  <div class="d-flex">
                    <p class="text-secondary fw-bold mb-0 me-5">Сб - Нд</p>
                    <p class="text-secondary mb-0">9:00 - 17:00</p>
                  </div>
                </div>
              </div>
              
            <div class="content_item mb-4 mb-md-5 border p-2 me-3">
                <div class="mb-3">
                    <img src="/assets/phone-outgoing.svg" width="32" height="32" alt="">
                </div>
                <div>
                      <h4 class="mb-2">Телефон</h4>
                      <p class="mb-2">Будь ласка, зв'яжіться з нами напряму.</p>
                      <hr class="w-100 mb-3 border-dark-subtle">
                      <p class="mb-0">
                        <a class="link-secondary text-decoration-none">(380) 6364-353-5</a>
                      </p>
                </div>
            </div>
           
            <div class="content_item mb-4 mb-md-5 border p-2">
                <div class="mb-3">
                    <img src="/assets/envelope-o.svg" width="32" height="32" alt="">
                </div>
                <div>
                      <h4 class="mb-2">Email</h4>
                      <p class="mb-2">Будь ласка, напишіть нам напряму.</p>
                      <hr class="w-100 mb-3 border-dark-subtle">
                      <p class="mb-0">
                        <a class="link-secondary">shop@gmail.com</a>
                      </p>
                </div>
            </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
