<div class="box">
    <section class="about__section">
        <div class="container">
            <div class="wrapper__about">
                <div class="about__main_info">
                    <div class="main__info_text">
                        <h1 class="about__main_title">Про нас</h1>
                    </div>
                    <h2 class="about__mono_title">Ласкаво просимо до нашого магазину фітнес-браслетів!</h2>
                    <p class="about__main_text">
                        У нашому магазині фітнес-браслетів, наш головний пріоритет - це ваше здоров'я та активність. Ми працюємо, щоб забезпечити вас якісними продуктами, які допоможуть вам досягти своїх цілей у фітнесі та підтримувати активний образ життя.
                    </p>
                   
                </div>
                <div class="about__main_get">
                    <img class="main__get_image" src="./assets/sport2610-1.jpg" alt="" width="568px">
                    <div class="main__get_text">
                        <h2>Наша місія?</h2>
                        <p>
                            Наша місія - надавати інструменти та підтримку, які допоможуть кожному нашому клієнту досягти своїх фітнес-цілей і відчувати себе краще кожен день. Ми працюємо, щоб ваше здоров'я стало першочерговим пріоритетом, і ваші досягнення у фітнесі були валідовані та підтримані нашими продуктами та сервісом.

Приєднуйтеся до нашої спільноти, де кожен крок до здорового життя важливий і підтримується нашим головним пріоритетом - вашим здоров'ям і самопочуттям.
                        </p>
                    </div>
                </div>
                <div class="about__main_happy">
                    <div class="main__happy_text">
                        <h2>Хто ми?</h2>
                        <p>
                            Ми - команда ентузіастів, які вірять у здоровий спосіб життя та активність кожного дня. Наша місія - допомогти вам досягти своїх цілей у фітнесі, тримати під контролем своє здоров'я і підвищувати якість свого життя.
                            У нашому асортименті ви знайдете широкий вибір фітнес-браслетів від провідних виробників з усього світу. Незалежно від того, чи ви новачок у світі фітнесу, або вже досвідчений спортсмен, ми маємо відповідний браслет для вас.
                        </p>
                    </div>
                    <img class="main__happy_image" src="./assets/TASS_45152948.jpg" width="568px" alt="">
                </div>
            </div>
        </div>
    </section>

</div>
