<div class="container mt-4 mb-4">
    <div style="display: flex;align-items: center;
    justify-content: center;">
        <p class="title">Доставка та оплата</p>

    </div>
    <div class="info">
        <div>
            <h4>Як оформити?</h4>
            <div style="margin-left: 20px;">
                Оформити замовлення на сайті Shop ви можете цілодобово.
    
                <p>
                    Ми не будемо вас турбувати і дзвонити по телефону, якщо ви не бажаєте зв'язку з нами.
                </p>
                <p>
                    Найближчим часом ви отримаєте повідомлення з інформацією щодо замовлення, або найближчим часом з вами зв'яжеться наш партнер для уточнення даних щодо замовлення.
                </p>
                <p>
                    З будь-яких питань ви завжди можете зв'язатися з нами за телефоном 0(800)300-100 (безкоштовно) або напишіть нам у чат, ми дуже скоро вам відповімо.
                </p>
            </div>
        </div>
        <div>
            <h4>Як получити товар?</h4>
            <div style="margin-left: 20px;">
                <h5>Все про доставку товару</h5>
                <ul>
                    <li>
                        Ми надсилаємо товари Новою поштою та Укрпоштою. Щоб замовлення поїхав клієнту цього ж дня, ви повинні "встигнути" зробити замовлення до певного часу. Інакше замовлення буде надіслано наступного дня.
                    </li>
    
                    <li>
                        Тривалість доставки: Нова пошта у більшості випадків доставляє товар наступного дня або через 1 день. Укрпошта доставляє товар до 7(!) робочих днів, залежно від регіону вашого клієнта. Justin доставляє замовлення на 2-3 дні після відправлення. Вартість доставки залежить від компанії та розмірів посилки. Нова Пошта: від 46 грн (якщо оплата при отриманні, тоді ще +20 грн. + 2% від суми посилки). Укрпошта: від 30 грн.
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <h4>Час відправлення</h4>
            <div style="margin-left: 20px;">
                <p>Нова Пошта</p>
                <ul>
                    <li>
                        Відправка після оформлення замовлення 1-2 дня
                    </li>
                    <li> Відправка Нової пошти з Пн-Сб</li>
                    <li>Неділя - вихідний</li>
                </ul>
            </div>
        </div>
        <div>
            <h4>Оплата</h4>
            <div  style="margin-left: 20px;">
                <p>Ви можете обрати зручний для вас спосіб оплати замовлення:</p>
                <ul>
                    <li>Оплата при отриманні на "Новій пошті"</li>
                </ul>
            </div>
        </div>
    </div>
</div>
